@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
section#cell{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 628px;
    width: 311px;
    background-color: blue;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}