@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
}
body{
    background-image: url(../pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
section#cell{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 628px;
    width: 311px;
    background-image: url(../pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
iframe#tela{
    position: relative;
    top: 81px;
    left: 22px;
    height: 471px;
    width: 267px;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    width: 50px;
    border-radius: 100px;
    margin: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
    box-sizing: border-box;
}
section#redes-sociais img:hover{
    transition: 0.5s, border 0.1s;
    transform: translate(-3px, -3px);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);
}